.loginBox{
    width: 35%;
    padding: 3%;
    border: 1px solid black;
    margin: 20% auto;
    border-radius: 5px;
}
.loginText{
    margin-bottom: 13%;
}
.input-box{
    width: 100%;
}
.remember .rememberCheckbox{
    margin-right: 2%;
}
.forgotPass .forgotTxt{
    margin: 3% 0;
    display: block;
    text-decoration: none;
}
.forgotPass .forgotTxt:hover{
    text-decoration: underline;
}
.creatTxt{
    text-align: center;
    margin-top: 1%;
}
.creatTxt .creatAccount{
    text-decoration: none;
}
.creatTxt .creatAccount:hover{
    text-decoration: underline;
}